#proyectos {
    background: #333;
    color: white;
    text-align: center;
}

.info-news {
    padding: 50px;
}

.info-news img {
    margin-top: 15px;
    width: 300px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid white;
}

